### Sequences: String, List, Tupples

Sequence Data Types are used to store data in containers in the Python computer language. The different types of containers used to store the data are List, Tuple, and String. Lists are mutable and can hold data of any type, whereas Strings are immutable and can only store data of the str type. Tuples are immutable data types that can store any sort of value.


#### Indexing: Access any element in squence using its index(starts with 0).

In [5]:
# string
x = 'dog'
print(x[1])

# list
x = ['BMW', 'Volvo', 'Honda']
print(x[2])

# tuple
x = ('mango', 'banana', 'orange')
print(x[0])

o
Honda
mango

```The key difference between tuples and lists is that while the tuples are immutable objects, lists are mutable. This means that tuples cannot be changed while lists can be modified.```

```As lists are mutable, Python needs to allocate an extra memory block in case there is a need to extend the size of the list object after create it. In contrast, as tuples are immutable and of a fixed size, Python allocates only the minimum memory block required for the data.```

```As a result, tuples are more memory efficient than lists.```

#### Slicing: Slice out substrings, sublist, subtuple using indexes.
[start: end+1: step]

In [4]:
# string
x = 'programming'
print(x[1:5])

# list
x = ['BMW', 'Volvo', 'Honda', 'Toyota']
print(x[1:3])

# tuple
x = ('mango', 'banana', 'orange', 'apple')
print(x[0:3:2])

rogr
['Volvo', 'Honda']
('mango', 'orange')

#### Concatenating: Combine two sequences of same type using +

In [8]:
# string
x = 'programming'
y = 'python'
print(x + y)

# list
x = ['BMW', 'Volvo', 'Honda', 'Toyota']
y = ['Ferrari']
print(x + y)

# tuple
x = ('mango', 'banana', 'orange', 'apple')
y = ('grapes', )
print(x + y)

programmingpython
['BMW', 'Volvo', 'Honda', 'Toyota', 'Ferrari']
('mango', 'banana', 'orange', 'apple', 'grapes')

#### Multiplying: Multiply sequence using *

In [1]:
# string
x = 'ho '
print(x * 3)

# list
x = [2, 3]
print(x * 3)

# tuple
x = (4, 5)
print(x * 2)

ho ho ho
[2, 3, 2, 3, 2, 3]
(4, 5, 4, 5)

#### Checking membership: Check wether an element is in or not in a squence.

In [2]:
# string
x = 'hello'
print('e' in x)

# list
x = [2, 3, 6]
print(6 not in x)

# tuple
x = (4, 5, 9, 'test')
print('test' in x)

True
False
True

#### Iterating: Iterating through the items in a squence.

In [3]:
# item
x = [2, 3, 6]
for i in x:
    print(i)
    
# index & items
x = [2, 3, 6]
for i, e in enumerate(x):
    print(i, e)

2
3
6
0 2
1 3
2 6

#### Number of items: Count number of items in sequences.

In [4]:
# string
x = 'hello'
print(len(x))

# list
x = [2, 3, 6]
print(len(x))

# tuple
x = (4, 5, 9, 'test')
print(len(x))

5
3
4

#### Minimum: Find the minimum in squence lexicographically.
Alpha or numeric types cannot mix types.

In [5]:
# string
x = 'hello'
print(min(x))

# list
x = [2, 3, 6]
print(min(x))

# tuple
x = ('one', 'two', 'three')
print(min(x))

e
2
one

#### Maximum: Find the maximum in squence lexicographically.
Alpha or numeric types cannot mix types.

In [6]:
# string
x = 'hello'
print(max(x))

# list
x = [2, 3, 6]
print(max(x))

# tuple
x = ('one', 'two', 'three')
print(max(x))

o
6
two

#### Sum: Find the sum of items in squence.
Entire squnce must be numeric.

In [9]:
# list
x = [2, 3, 6]
print(sum(x))
print(sum(x[-2:]))

# tuple
x = (5, 6, 7)
print(sum(x))

11
9
18

#### Sort: Retruns new list of items in sorted order.
Does not change the original list.

In [10]:
# string
x = 'hello'
print(sorted(x))

# list
x = [2, 3, 6]
print(sorted(x))

# tuple
x = ('one', 'two', 'three')
print(sorted(x))

['e', 'h', 'l', 'l', 'o']
[2, 3, 6]
['one', 'three', 'two']

#### Sort: Sort by second letter.
Add key parameter and lambda function to return the second character. <br/>
(The word key here is a defined parameter name, k is an arbitary variable name.)

In [12]:
# tuple
x = ('one', 'two', 'three')
print(sorted(x, key=lambda k: k[1]))

['three', 'one', 'two']